{% extends "base.html" %}
{% block content %}

<form action="locs">
	Enter 1st loc :<input type="text" name="l01"><br>
	Enter 2nd loc :<input type="text" name="l02"><br>
	Enter 3rd loc :<input type="text" name="l03"><br>
	Enter 4th loc :<input type="text" name="l04"><br>
	Enter 5th loc :<input type="text" name="l05"><br>
	Enter 6th loc :<input type="text" name="l06"><br>
	Enter 7th loc :<input type="text" name="l07"><br>
	Enter 8th loc :<input type="text" name="l08"><br>
	Enter 9th loc :<input type="text" name="l09"><br>
	Enter 10th loc :<input type="text" name="l10"><br>
	<input type="submit">

</form>

{% end block %}