{% extends "base1.html" %}

{% block content%}
<form action="locs">
	Enter 1st locn  :<input type="text" name="l1"><br>
	Enter 2nd locn  :<input type="text" name="l2"><br>
	Enter 3rd locn  :<input type="text" name="l3"><br>
	Enter 4th locn  :<input type="text" name="l4"><br>
	Enter 5th locn  :<input type="text" name="l5"><br>
	Enter 6th locn  :<input type="text" name="l6"><br>
	Enter 7th locn  :<input type="text" name="l7"><br>
	Enter 8th locn  :<input type="text" name="l8"><br>
	Enter 9th locn  :<input type="text" name="l9"><br>
	Enter 10th locn :<input type="text" name="l10"><br>
	<input type="submit">
</form>
{% endblock %} 